body {
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron {
    margin-top: 1rem;
    background-color: #f3f3f3;
}

#searchBar {
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 70%;
}

#searchBtn {
    margin-left: 5px;
}

.forecastDiv {
    margin-top: 1rem;
}