body {
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    margin-top: 1rem;
    background-color: #f3f3f3;
    text-align: center;
}

.card {
    text-align: center;
}

img {
    height: 70px;
    width: 70px;
    background-color: #d4f9ff;
    border-radius: 1rem;
}

.display-3 {
    font-weight: 500;
}

.display-4 {
    font-size: 22px;
    font-weight: 500;
}

#searchBar {
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 70%;
}

.searchcontrols {
    margin-left: 5px;
}

.searchResult {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.low {
    color: #00e42a;
}

.high {
    color: #b80000;
}
 .card-body { 
    font-size: 18px;
}

#uvIndex {
    font-weight: 500;
}

.forecast {
    text-align: center;
}
.forecastDiv {
    margin-top: 1rem;
}

.cityDiv {
    margin-bottom: 1rem;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
}